{
    "__type__": "ChatNxConfig",
    "connection_settings": {
        "__type__": "TwitchConnectionSettings",
        "channel": "EnterTwitchChannelName",
        "auth_token": "ENTER_AUTH_TOKEN",
        "bot_user_name": "OptionalBotUserName"
    },
    "queue_receiver_settings": {
        "__type__": "QueueReceiverSettings",
        "address": "127.0.0.1",
        "port": 4769
    },
    "debug_settings": {
        "__type__": "ChatNxDebugSettings",
        "mock_switch_connector": false,
        "mock_irc_client": false,
        "mock_queue_receiver": false
    }
}